<app-header /> 
<div class="contain"><img src="assets/img/cleaner.jpg" alt="">
     <div> 
<h1>A  quel point Hand Work peut vous aider à trouver  quelqu’un pour vous aidez dans vôs tâches ménagère de tout les jours ?</h1>
    <p>
     Hand Work est une application qui permet de recruter 
des personnes engagé dans les travails à main dans votre domicile
    </p>
    <div class="downloader">
     <button class="bt"> <i class="bi bi-apple "style="color: white; font-size: 33px; margin-right:4px;"></i><div id="tab"><p style="color: white;">Télécharger sur</p>
         <h6 style="color: white;">l'Apple Store</h6></div>
     </button>
         <button class="bt">
             <img src="assets/img/google-playstore-Iauj7q.png" style="width: 33px;" alt="">
                <div id="tab"><p style="">Télécharger sur</p>
             <h6 style="color: white;">Google Play</h6></div>
         </button>
     </div>
     </div>
</div>
<div class="middle">
    <h1 class="text-middle">Voici les informations utiles</h1>
    <div class="middle-two">
        <div class="middle-left"> <div id="image" ><img src="assets/img/money-bag.png" alt=""></div> <p>des prix abordable et une application super pratique</p>  </div>
        <div class="middle-left"> <div id="image" ><img src="assets/img/cloud-computing_12083146.png" alt=""></div> <p>des prix abordable et une application super pratique</p>  </div>
        <div class="middle-left"> <div id="image" ><img src="assets/img/quality-assurance.png" alt=""></div> <p>des prix abordable et une application super pratique</p>  </div>

    </div>
</div>
<div class="bef-down">
    <div class="bef-right">
        <img  src="assets/img/yellowCleaner-removebg-preview.png             " alt="">   
    </div>
    <div class="bef-left">
        <h1>Hand Work est une Application qui vous aides à trouver vôtre second main</h1>
        <h1>Comment ça marche ?</h1> 
        <img id="imager"  src="assets/img/Rectangle 21.png" alt="">
        <div class="downloader">
            <button class="bt"> <i class="bi bi-apple "style="color: white; font-size: 33px; margin-right:4px;"></i><div id="tab"><p style="color: white;">Télécharger sur</p>
                <h6 style="color: white;">l'Apple Store</h6></div>
            </button>
                <button class="bt">
                    <img src="assets/img/google-playstore-Iauj7q.png" style="width: 33px;" alt="">
                       <div id="tab"><p style="">Télécharger sur</p>
                    <h6 style="color: white;">Google Play</h6></div>
                </button>
        </div>
    </div>
</div>
<app-footer /> 

