<nav class="navbar navbar-light bg-light navi">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" width="auto" height="100" alt="">
    </a>
    <div  class="pages">
      <ul>
        @for (item of items; track items) {
          <li ngIf="item.isActive" routerLinkActive="" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <span>{{item.title}}</span>
          </li>
        }
      </ul>
       
     
    </div>
</nav>

