.navi{
    margin: AUTO;
    width: 100%;
}
.pages{
    width: 40%;
    display: flex;
    justify-content:space-around;
    ul{
        list-style: none;
        display: flex;
        gap: 4rem;
        width: 100%;
        li{
                padding: 0.5rem 0.5rem 0.5rem 0;
                margin-bottom: 0.5rem;
                display: flex;
                gap: 8px;
                &:hover{
                    cursor: pointer;
                }
            &.active{
                cursor: pointer;
                border-bottom: solid 2px black;
            }
        }
    }
}

