<div class="footer">
<div class="head">
    <div class="left">
        <h2>Travailleur</h2>
        <h2>Recruteur</h2>
        <h2>Service d'assistance</h2>
        <h2>A propos de la société</h2>
        <h2> Autorisation de l'application</h2>
    </div>
    <div class="right"></div>
</div>
<div class="foot">
    <div class="f_gauche"> 
        <p>Les information du site sont à jour pour ce lieu</p>
         </div>
    <div  class="f_droite">
      <p>politique de confidencialité</p>
        <p>Tarifs</p>
        <p>partenaire</p>
        <p>2024 barrodevgmailcom </p>
    </div>
</div>
</div>
