<section class="footer">
<div class="head">
    <div class="left">
        <h2>Travailleur</h2>
        <h2>Recruteur</h2>
        <h2>Service d'assistance</h2>
        <h2>A propos de la société</h2>
        <h2>Autorisation de l'application</h2>
    </div>
    <div class="right">
        <div class="bloc1">
            <p>Lieu</p>
            <h2>Sénégal</h2>
            <p>Les information du site sont à jour pour ce lieu</p>
        </div>
        <div class="bloc2">
           <div >
            <p style="margin-top:12px">Language</p>
           </div>
            <h2 style="margin-top:-2px">French</h2>
        </div>
        <div class="bloc3">
            <h6>Rejoigner nous sur </h6><i class="bi bi-facebook"></i> 
        </div>
        <div class="bloc4">
           <div><img src="assets/img/Qr.png"alt=""></div>
           <div class="text">   
            <p>Pointer votre appareil photo surle code QR pour Télécharger l”application Hand Work</p>
           </div>
        </div>
</div>
</div>
<div class="foot">
    <div class="f_gauche"> 
        <p>Les information du site sont à jour pour ce lieu</p>
         </div>
    <div  class="f_droite">
      <p>politique de confidencialité</p>
        <p>Tarifs</p>
        <p>partenaire</p>
        <p>2024 barrodevgmailcom </p>
    </div>
</div>
</section>
