/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #83A2FF;
}
app-root{
    font-family: "Poppins", sans-serif ;
}

