<app-header> </app-header>
<div class="pageac">
    <div class="left">
        <h2 class="titleone">A quel point Hand Work peut vous aider à trouver quelqu’un pour vous aidez dans vôs tâches ménagère de tout les jours ?</h2>
        <p class="para">Hand Work est une application qui permet de recruter des personnes engagé dans les travails à main dans votre domicile</p>
        <div class="downloader">
        <button class="bt"> <i class="bi bi-apple "style="color: white; font-size: 33px; margin-right:4px;"></i><div class="tab"><p style="color: white;">Télécharger sur</p>
            <h6 style="color: white;">l'Apple Store</h6></div>
        </button>
            <button class="bt">
                <img src="assets/img/google-playstore-Iauj7q.png" style="width: 33px;" alt="">
                   <div class="tab"><p style="color: white;">Télécharger sur</p>
                <h6 style="color: white;">Google Play</h6></div>
            </button>
        </div>
    </div>
    <div class="right">
        <img class="laveimg" src="assets/img/laveVeisell.jpg" alt="">
    </div>
</div>
<div class="pageactwo">
    <div class="leftimg">
        <h1 class="titletwo">Trouver du travails</h1>
        <p class="paratwo">Gagner de l’argent en faisant du main d’oeuvre à domicile</p>
    </div>
    <div class="rightimg">
        <h1 class="titlethree">Choisir quelqu'un </h1>
        <p class="parathree">Vous aller aimer les fonctionnalités et la sercirité garanti de Hand Work</p>
    </div>
</div>
<!-- Button -->
<div class="btnplace  ">
  <div class="matter">
    <button style="background-color: black; color:white;">
    Liste des Travailleurs
    </button>
    <button>
    Inscription
    </button>
</div>
</div>
<!-- Service -->
<section class="service section-padding pb-0" style="width:1777px; height:auto; margin:auto">
    <div class="titleservice">
        <h4>Nos Services</h4> 
    </div>
    <div class="allservice">
    <div class="row ">
        <div class="card-container">
            <a href="/" class="hero-image-container">
              <img class="hero-image" src="assets/img/yellowCleaner.jpg" alt="Spinning glass cube"/>
            </a>
            <main class="main-content">
              <h1><a href="#">Ménagére Ou Aide Maison</a></h1>
              <p>Our Equilibrium collection promotes balance and calm.</p>
            </main>

        </div>
        <div class="card-container">
            <a href="/" class="hero-image-container">
              <img class="hero-image" src="assets/img/boyCleaner.jpg" alt="Spinning glass cube"/>
            </a>
            <main class="main-content">
              <h1><a href="#">Nettoyeur Or paire OU Boye</a></h1>
              <p>Our Equilibrium collection promotes balance and calm.</p>
            </main>
        </div>
    </div>
    <div class="row ">
        <div class="card-container">
            <a href="/" class="hero-image-container">
              <img class="hero-image" src="assets/img/lingére.jpg" alt="Spinning glass cube"/>
            </a>
            <main class="main-content">
              <h1><a href="#">Lingére depuis chez vous</a></h1>
              <p>Our Equilibrium collection promotes balance and calm.</p>
            </main>

        </div>
        <div class="card-container">
            <a href="/" class="hero-image-container">
              <img class="hero-image" src="assets/img/womancook.jpg" alt="Spinning glass cube"/>
            </a>
            <main class="main-content">
              <h1><a href="#">Ménagére Compléte</a></h1>
              <p>Our Equilibrium collection promotes balance and calm.</p>
            </main>
        </div>
    </div>
    </div>
     </section>
     <app-footer> </app-footer>

